section.original
  h1.original__title Только оригинал. Гарантии качества.
  .original__content
    .original__content__left У нас есть современные базы данных деталей для  AUDI, Volkswagen и Skoda. Мы со 100% подберем детали, подходящие под вашу машину.
    .original__content__right Мы больше 5 лет занимались тюнингом и ремонтом автомобилей, чтобы накопить знания, которые помогут Вам
