section.another-details
  h1.another-details__title Что делать, если нужны другие детали?
  p.another-details__text Мы подберем для Вас любую деталь по VIN номеру автомобиля, Заполните форму ниже и мы свяжемся с Вами в кратчайшие сроки:
  button.another-details__button Указать данные
