section.compare
  img.compare__image(src='assets/images/img03.jpg', alt='Audi')
  .compare__content
    .compare__title Cравним стоимости для Q3 2.0T?
    table.compare__table
      tr
        td
        td.text-center.gray Цена дилера
        td.text-center.gray Цена у нас
      tr
        td
        td.text-center
        td.text-center
      tr
        td
        td.text-center
        td.text-center
      tr
        td
        td
        td.text-center.red
