section.details
  .details__text
    | Покупайте оригинальные детали у нас,
    br
    | обслуживайтесь у официального дилера
    br
    | и сохраняйте гарантию на Ваш автомобиль!
    br
    | Будьте уверены в надежности своего автомобиля.
