section.screen
  h1.screen__title Покупайте оригинальные запчасти для тех. обслуживания дешевле, чем у дилера
  .screen__text
    | Раньше мы тоже покупали запчасти у дилеров.
    br
    | Задумались — можно ли сэкономить? ДА!
    br
    | Нашли поставщиков и запустили этот проект.
    br
    | Теперь вы можете сэкономить на цене, но не на качестве!
