section.brands
  img.brands__image(src='assets/images/img01.jpg', alt='Volkswagen')
  .brands__content
    h1.brands__content__title AUDI, Volkswagen, Skoda
    p В среднем, мы доставим детали дешевле, чем у диллера на <span class="red">25-30 %</span>
    p Мы абсолютно точно подберем детали или вернем деньги. У вас не будет проблем с несоответствием.
