.header
  position: relative
  max-width: $site-width
  margin: 0 auto
  height: 96px

.logo
  position: absolute
  @media only screen and (max-width: 767px)
    left: 10px
    top: 24px
  @media only screen and (min-width: 768px)
    left: 60px
    top: 24px
  font-size: 24px
  color: $text-color--blue
  &__icon
    +icon--gear
    display: inline-block
    vertical-align: middle
    font-size: 52px
    margin-top: -18px
    margin-left: 9px

.contacts
  position: absolute
  right: 30px
  top: 30px
  color: $text-color--blue
  &__text
    display: inline-block
    vertical-align: middle
    font-size: 14px
    margin-right: 5px
    line-height: 1.2
  &__phone
    display: inline-block
    vertical-align: middle
    font-size: 24px
