section.request
  h1.request__title
    | Готов сэкономить на 
    br
    | деталях для тех. обслуживания?
  form.request__form(action='contact.php', role='request-form')
    .request__form__group
      input.request__form__control(name='name', placeholder='Ваше имя')
    .request__form__group
      input.request__form__control(name='contact', placeholder='Телефон или email')
    .request__form__group.text-center
      button.request__form__submit(type='submit') Перезвони мне!
    .request__message(role='form-messages')
