footer.footer
  .footer__address lavkazoloto.ru
  .footer__contact
    | Todetali.ru
    br
    | buy@todetali.ru
    br
    | +7 (904) 639-15-00
  .footer__hint Техническое обслуживание — мероприятия профилактического характера, проводимые систематически, принудительно производителями через установленные периоды, включающие определённый комплекс работ.
  .footer__social
    a.footer__social__vk(href='#', target='_blank')
    .footer__social__vk-buttons
      .footer__social__vk-like
        <div id="vk_like"></div>
        <script type="text/javascript">VK.Widgets.Like("vk_like", {type: "button"});</script>
      .footer__social__vk-share
        | <script type="text/javascript"><!--
        | document.write(VK.Share.button(false,{type: "round", text: "Сохранить"}));
        | --></script>
